a{
    color: aquamarine;
}
a:link{
    color:red;
    text-decoration:none;
    display:inline-block;
    padding-left: 10px;
    text-align:center;
}
a:hover{
    color:green;
    background-color: rosybrown;
    font_size:large;
    text-decoration: underline;
    text-align:center;
}
a:active{
    color:blue;
}
